<!-- <h2>Welcome {{name}}</h2>

<h2>Person</h2>

<h2 [class]="successClass">Person</h2>
<h2 [class]="specialClass">Person</h2>

<h2 [class.text-danger]="hasError">Person</h2>
<h2 [ngClass]="messageClasses">Person</h2>
<h2 [style.color]="hasError ? 'red' : 'green'">Style Binding</h2>
<h2 [style.color]="highlightColor">Style Binding</h2>
<h2 [ngStyle]="titleStyles">Style Binding 3</h2>

<button (click)="onClick($event)">Greet</button> {{greeting}} -->

<input [(ngModel)]="name" type="text">{{name}}